{% extends "blog/base.html" %}

{% block content %}

    
    {% if entries %}
    {% for entry in entries %}
      <div class="blog-post">
	      <h2 class="blog-post-title"><a href="{% url 'detail' entry.id %}">{{entry.title}}</a></h2>
        <p class="blog-post-meta">{{ entry.pub_date }} <a href="#">{{entry.author.username}}</a></p>

        <p>{{entry.post}}
      </div><!-- /.blog-post -->
      {% endfor %}



    {% else %}
        <p>No blog posts are available.</p>
    {% endif %}
    
      <ul class="pager">
	      {% if entries.has_previous %}
	      <li><a href="?page={{ entries.previous_page_number }}">Previous</a></li>
	      {% endif %}
	      {% if entries.has_next %}
	      <li><a href="?page={{ entries.next_page_number }}">Next</a></li>
	      {% endif %}
      </ul>



{% endblock %}
