{% extends "blog/base.html" %}}

{% block content %}

    
    {% if latest_entry_list %}
    {% for entry in latest_entry_list %}
      <div class="blog-post">
        <h2 class="blog-post-title">{{entry.title}}</h2>
        <p class="blog-post-meta">{{ entry.pub_date }} <a href="#">{{entry.author.username}}</a></p>

        <p>{{entry.post}}
      </div><!-- /.blog-post -->
      {% endfor %}



    {% else %}
        <p>No blog posts are available.</p>
    {% endif %}
    
      <ul class="pager">
        <li><a href="#">Previous</a></li>
        <li><a href="#">Next</a></li>
      </ul>



{% endblock %}