{% extends "blog/base.html" %}

{% block title%}Log in{% endblock %}

{% block content %}

{% if form.non_field_errors %}
    <ul class='form-errors'>
        {% for error in form.non_field_errors %}
            <li>{{ error }}</li>
        {% endfor %}
    </ul>
{% endif %}

<form method="post" action="login">
{% csrf_token %}
<div class="form-group">
    {{ form.username.label_tag }}
    {{ form.username }}
</div>
<div class="form-group">
    {{ form.password.label_tag }}
    {{ form.password }}
</div>
</table>

<input class="btn btn-default" type="submit" value="login" />
<input type="hidden" name="next" value="{{ next }}" />
</form>
<script>
$('#id_username').select();
</script>
{% endblock %}
