{% extends "blog/base.html" %}

{% block title%}Log in{% endblock %}

{% block content %}
<span>Not a member? <a href="{% url 'signup' %}">Sign up!</a><span><br><br>
{% if form.errors %}
    {% for field in form %}
        {% for error in field.errors %}
            <div class="alert alert-error">
                <strong>{{ error|escape }}</strong>
            </div>
        {% endfor %}
    {% endfor %}
    {% for error in form.non_field_errors %}
        <div class="alert alert-error">
            <strong>{{ error|escape }}</strong>
        </div>
    {% endfor %}
{% endif %}

<form method="post" action="login">
{% csrf_token %}
<div class="form-group">
    {{ form.username.label_tag }}
    {{ form.username }}
</div>
<div class="form-group">
    {{ form.password.label_tag }}
    {{ form.password }}
</div>
</table>

<input class="btn btn-default" type="submit" value="login" />
<input type="hidden" name="next" value="{{ next }}" />
</form>
<script>
$('#id_username').select();
</script>
{% endblock %}
