{% extends "blog/base.html" %}

{% block title%}Log in{% endblock %}

{% block content %}
<span>Not a member? <a href="{% url 'signup' %}">Sign up!</a><span><br><br>
{{ form.non_field_errors }}
<form method="post" action="login">
{% csrf_token %}
<div class="form-group">
    {{ form.username.label_tag }}
    {{ form.username }}
    {{ form.username.errors }}
</div>
<div class="form-group">
    {{ form.password.label_tag }}
    {{ form.password }}
    {{ form.password.errors }}
</div>
</table>

<input class="btn btn-default" type="submit" value="login" />
<input type="hidden" name="next" value="{{ next }}" />
</form>
<script>
$('#id_username').select();
</script>
{% endblock %}
